chronos @ git+https://github.com/amazon-science/chronos-forecasting.git
finrl @ git+https://github.com/AI4Finance-Foundation/FinRL.git
MUFPO @ git+https://github.com/Mutual-fund-Portfolio-Optimization/MUFPO-common-python.git
gluonts[torch]
numpy==1.23.5
torch>=2.0.0
wandb
scipy
pandas==2.1.4
huggingface_hub[cli]

